DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/benevoles?schema=public"

AUTH_SECRET="change-this-to-a-random-secret-in-production"

RESEND_API_KEY=""
EMAIL_FROM="no-reply@votre-domaine.com"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
# Production : http://benevoles.gallerypack.app
